path
{
    fill: none;
    stroke-width: 2;
}
#arrow path
{
    fill: #b3b3b3;
}
#container
{
    position: relative;

    width: 1200px;
    height: 700px;
    margin: 0 auto;

    background: #fff;
}
#popoverLeft
{
    margin: 0 auto;
}
#popoverRight
{
    margin: 0 auto;
}
.domain,
.tick line
{
    stroke: #b3b3b3;
    stroke-width: 1;
}

/*提示框*/
.fade.in
{
    opacity: .8;
}
.popover-content
{
    width: 275px;
}
.popover-content ul
{
    padding-left: 0;

    list-style: none;
}
.popover-content i
{
    font-weight: bold;
    font-style: normal;

    display: inline-block;

    width: 145px;
}
.popover-content span
{
    display: inline-block;

    width: 100px;

    text-align: right;
}
/*堆积图*/
.fill-blue {
	fill: rgb(120,207,199);
}
.fill-green {
	fill: rgb(140,201,71);
}
.fill-red {
	fill: rgb(237,51,71);
}
.fill-yellow {
	fill: rgb(255,237,145);
}
.fill-gray {
	fill: rgb(92,106,120);
}
.fill-black {
	fill: black;
}
.fill-white {
	fill: rgb(244,244,244);
}