path
{
    fill: none;
    stroke-width: 2;
}
#arrow path
{
    fill: #b3b3b3;
}
#container
{
    position: relative;

    width: 1200px;
    height: 700px;
    margin: 0 auto;

    background: #fff;
}
#popoverLeft
{
    margin: 0 auto;
}
#popoverRight
{
    margin: 0 auto;
}
.domain,
.tick line
{
    stroke: #b3b3b3;
    stroke-width: 1;
}

/*提示框*/
.fade.in
{
    opacity: .8;
}
.popover-content
{
    width: 275px;
}
.popover-content ul
{
    padding-left: 0;

    list-style: none;
}
.popover-content i
{
    font-weight: bold;
    font-style: normal;

    display: inline-block;

    width: 145px;
}
.popover-content span
{
    display: inline-block;

    width: 100px;

    text-align: right;
}
/*堆积图*/
.bar1 {
	fill: steelblue;
}
.bar2 {
	fill: green;
}
.bar3 {
	fill: red;
}
.bar4 {
	fill: yellow;
}
